/**************************************
GENERAL
**************************************/

.list {
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.8em;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	padding-bottom: 15px;
	font-size: 3vw;	
}



/**************************************
HEADER
**************************************/

#top_image {
	max-width: 100%;
	min-width: 100%;
}

#logo {
	position: absolute;
	top: 0.9em;
	left: 3em;
	max-height: 70px;
}

nav {
	background: rgba(230, 230, 230, .5);
	overflow: hidden;
	padding: 1.0em 2.0em;
	position: absolute;
	top: 0;
	left: 0
	right: 0;
	min-width: 91%;
	max-width: 100%;
}

nav ul {
	float: right;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin-right: 1.0em;
}

#post_a_job, #get_started {
	 padding: 0.8em 2.5em;
	 background-color: #009d28;
	 color: #fff;
	 border: none;
	 cursor: pointer;
}

.list li {
	padding-bottom: 7px;
	font-size: 11px;
}

#top_info {
	position: absolute;
	top: 21vw;
	left: 14vw;
}

#bottom_info {
	text-align: center;
	background: rgba(0, 0, 0, .5);
	padding: 12px 1px;
	position: relative;
	margin-top: -73px;
/*	right: 0;
	left: 0;
	top: 235px;*/
}

#bottom_info ul li {
	display: inline-block;
	color: #fff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.6em; 
	font-weight: lighter;
	padding-left: 4px;
	padding-right: 4px;
}

#bottom_info h1 {
	color: #fff;
	font-size: 1.2em;

}



/**************************************
HOW IT WORKS
**************************************/

#how {
	background: #f5f5f5;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	left: 0;
	right: 0;
}

#how_icons {
	text-align: center;
}

#how ul li {
	display: inline-block;
	padding: 0;
}

.icon {
	width: 15vw;
}

.arrow {
	width: 5vw;
	margin-bottom: 15px;
}

#how_icons li p {
	font-family: 'Ubuntu', sans-serif;
}


/**************************************
LOOKING FOR A JOB
**************************************/

.looking {
     text-align: center;
     position: relative;
     padding-top: 10%;
     background-image: url(../img/bg1t.jpg);
     background-size: 100% 100%;
}

.looking h1 {
     padding-bottom: 25px;
}

.looking ul {
     padding: 0 0 10% 0;
}

.looking ul li {
     margin-bottom: 0.2em;
     font-size: 90%;
     color: #000;
     padding-bottom: 1%;
}



/**********************************
GET STARTED
**********************************/

.partners {
     padding-top: 5%;
     text-align: center;
}

#partner_logos li {
     display: inline-block;
     margin: 0;
}

.partners h1 {
     padding-bottom: 35px;
}



/**********************************
FOOTER
**********************************/

.info {
	padding-bottom: 5px;
	background: #000;
	padding-top: 35px;
	padding-bottom: 10px;
	padding-left: 25px;
	border-top: 50px;
	border-color: #009d28;
}

.info li {
	display: inline-block;
	padding-left: 12px;
}

.info li a {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-size: 0.6em;
}

#border {
	margin-top: 15px;
	background: #009d28;
	height: 3px;
}